body {
    margin: 0px;
}

header {
    display: grid;
    color: #6cbdb5;
    background-color: #1a1f1e;
    height: 100px;
    text-align: center;
}

p {
    font-size: 20px;
    color: #1a1f1e;
}

h2 {
    color: #6cbdb5;
    text-align: center;
    font-size: 40px;
}

ul {
    display: flex;
    flex-direction: right;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

li {
    transition: 0.5s;
}

a {
    color: #6cbdb5;
    list-style: none;
    font-size: 20px;
}

.l-c {
    width: 30px;
}

form {
   
    width: 400px;
    border: none;
    border-radius: 15px;
    background-color: #c8d6bf;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    margin-bottom: 74px;
}

.login {
    color: #1a1f1e;
    font-size: 40px;
}

label {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    margin: 10px;
    color: #1a1f1e;
    font-size: 25px;
    transition: 0.5s;
}

input {
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 60px;
    text-align: center;
    margin-bottom: 20px;
    outline: none;
}

button {
    margin: auto;
    border: none;
    border-radius: 20px;
    background-color: #1a1f1e;
    color: #6cbdb5;
    width: 160px;
    height: 60px;
    font-size: 20px;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.2);
}

li:hover {
    transform: scale(1.2);
}

label:hover {
    transform: scale(1.2);
}

@media (prefers-color-scheme: dark) {
    body {
        background: #000000;
        color: #ffffff;
    }
}

@media (max-width: 2560px) {

    form {
        margin-bottom: 151px;
    }

}

@media (max-width: 768px) {

    #conteudo {
        width: 600px;
    }

}

@media (max-width: 425px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    ul {
        padding: 20px;
    }

    form {
        width: 300px;
    }

    #conteudo {
        width: 200px;
        height: 60px;
    }

}

@media (max-width: 375px) {

    header {
        font-size: 10px;
    }

    form {
        width: 250px;
    }

    input {
        width: 200px;
    }

}

@media (max-width: 320px) {

    ul {
        font-size: 20px;
        flex-wrap: wrap;
    }

}